/*==================================================================
// ANDROID SPECIFIC STYLES
/*=================================================================*/
/* adjust to fit inside phone graphic screen */

#screen-content-holder{
    top: 292px;
    margin-left: -199px; /* (width / 2 ) */
    width: 398px;
}
