/*==================================================================
// ANDROID SPECIFIC STYLES
/*=================================================================*/

#screen-content-holder{
    top: 255px;
    margin-left: -165px; /* (328 / 2 ) */
    width: 328px;
}
