/*==================================================================
// IOS SPECIFIC STYLES
/*=================================================================*/

#screen-content-holder{
    top: 252px;
    margin-left: -160px; /* (320 / 2) */
    width: 320px;    
}
