/*==================================================================
// IOS SPECIFIC STYLES
/*=================================================================*/

#screen-content-holder{
    top: 282px;
    margin-left: -194px; /* (width / 2) */
    width: 388px;    
}
