/*==========================================================
// SHARED STYLES FOR BOTH ANDROID & IOS
===========================================================*/

@font-face {
    font-family: 'Sofia_Pro_Regular';
    src: url('../fonts/Sofia_Pro_Regular.otf');
}
@font-face {
    font-family: 'Sofia_Pro_Semi_Bold';
    src: url('../fonts/Sofia_Pro_Semi_Bold.otf');
}
@font-face {
    font-family: 'Sofia_Pro_Medium';
    src: url('../fonts/Sofia_Pro_Medium.otf');
}

/*==========================================================
// RESET CSS
===========================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/*list-style: none;*/
	margin-left: 1.5em;
	line-height: 1.5em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================================
// GLOBAL STYLES
===========================================================*/

html, body{
    font-family: 'Sofia_Pro_Regular';  
    font-style: normal;
    background: #eee;
    transform: scale(1.0);
    transform-origin: 0 0;
}

#header{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 0 0.5em;
    line-height: 1.5em;
    height: 180px;
    box-sizing: border-box;
    overflow: hidden;
}

.table-wrap{
    display: table;
    width: 100%;
}

.table-cell{
    display: table-cell;
    height: 180px;
    text-align: center;
    vertical-align: middle;
}

#dynamicTitle:first-letter{
    text-transform: capitalize;
}

#background{
    position: relative;
    background-image: linear-gradient(#3194FE, #3fd28e);
    color: #fff;
    /*
    width: 100%; 
    height: 820px;
    */
    overflow: hidden;
    width: 1242px;
    height: 2208px;
}

#rel{
    position: relative;
}

#content{
    text-align: center;
}

#device{
    width: 448px;
    height: auto;
}

#screen-content-holder{
    position: absolute;
    left: 50%;
    background: #000;
}

#statusbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.screenshot-image{
    width: 100%;
    height: auto;
}

#inner-shadow{
    position: absolute;
    width: 100%;
    box-shadow: inset 0 0 10px rgba(0,0,0,.1);
}

/*=======================================================*/
/* ADJUST FOR DIFFERENT SIZES */
/*=======================================================*/

#screen-content-holder, #inner-shadow {
    height: 700px;
}

#scaler{
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: scale(2.4); 
}


/* 

change scale to fit the sizing of phone and text

*/